DB_PASSWORD=ganti_dengan_password_anda
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://erp_admin:ganti_dengan_password@localhost:5433/erp_grosir_wijaya?schema=public"
