DATABASE_URL="postgresql://USER:PASSWORD@localhost:5433/erp_grosir_wijaya?schema=public"
SEED_ADMIN_PASSWORD=ganti_dengan_password_admin_anda
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
